<!-- Header -->
<header id="home">
    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('./assets/images/fondo2.jpg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container">

            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="index.html">
                        <img class="logo" src="assets/images/logo.png" alt="logo">
                        <img class="logo-alt" src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Collapse nav button -->
                <div class="nav-collapse">
                    <span></span>
                </div>
                <!-- /Collapse nav button -->
            </div>

            <!--  Main navigation  -->
            <ul class="main-nav nav navbar-nav navbar-right">
                <li><a href="#home">Inicio</a></li>
                <li><a href="#about">Biografía</a></li>
                <li><a href="#portfolio">Galería y Multimedia</a></li>
                <li><a href="#service">Participaciones</a></li>
                <li><a href="#pricing">Escuchanos</a></li>
                <li><a href="#team">Banda</a></li>
                <li class="has-dropdown"><a href="#blog">Social</a>
                    <ul class="dropdown">
                        <li><a (click)="irBlog()">Blog</a></li>
                        <li><a (click)="irPosts()">Posts</a></li>
                        <li><a (click)="irEventos()">Próximos Eventos</a></li>
                        <li><a (click)="irConcurso()">Concurso</a></li>
                    </ul>
                </li>
                <li><a (click)="irRegistrar()">Registrate</a></li>
            </ul>
            <!-- /Main navigation -->

        </div>
    </nav>
    <!-- /Nav -->

    <!-- home wrapper -->
    <div class="home-wrapper">
        <div class="container">
            <div class="row">

                <!-- home content -->
                <div class="col-md-10 col-md-offset-1">
                    <div class="home-content">
                        <h1 class="white-text">Ahora Mismo Estamos Haciendo Música...</h1>
                        <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam
                            sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
                        </p>
                        <a href="#about" class="white-btn">Explorar...</a>
                        <a href="#contact" class="main-btn">¡Contacto Para Evento!</a>
                    </div>
                </div>
                <!-- /home content -->

            </div>
        </div>
    </div>
    <!-- /home wrapper -->

</header>
<!-- /Header -->